body{
    background-color: rgb(55, 185, 111);
   
}
h2{
    box-sizing: border-box;
   padding-left: 50px;
   padding-top: 10px;
    color: rgb(220, 171, 8);
    font-family:cursive;
    text-shadow: 2px 2px 1px rgb(91,92,95);
    
}
button{
    background-color: rgb(247, 173, 82);
    font-family: cursive;
    border-radius: 10px;
    margin-left: 50px;
    
}
.navi {
    border-radius: 10px;
   
    margin-left: 20px;
}
i{
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 20px;
}
.min{
    padding-left: 20px;
    font-family: cursive;
}
